body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;
  color: #1a1a1a;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #eee;
}

header h1 {
  color: #FF7A00;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 32px;
}

.hero p {
  color: #666;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
}

.primary {
  background: #FF7A00;
  color: white;
}

.secondary {
  border: 2px solid #00A86B;
  color: #00A86B;
}
.food-section {
    padding: 50px 30px;
    background: white;
}

.food-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.food-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.food-card {
    width: 300px;
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.food-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.food-card h3,
.food-card p {
    padding: 0 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.food-card button {
    margin: 0 20px 20px;
    width: calc(100% - 40px);
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #FF7A00;
    color: white;
    cursor: pointer;
}
.food-details {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.food-details img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.food-details-content {
    padding: 20px;
}

.food-details h2 {
    margin-bottom: 10px;
}

.food-details p {
    color: #555;
}

.food-actions {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
}

.food-actions a {
    flex: 1;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.btn-map {
    background: #FF7A00;
}

.btn-call {
    background: #00A86B;
}
